@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

:root {
  --primary-bg: #e6edf2;
  --card-bg: #f4f5f7;
  --topbar-bg: #dfe6ed;
  --btn-bg: #2b2b2b;
  --btn-hover: #3b3b3b;
  --btn-logout: #582bc0;
  --btn-logout-hover: #7c48f5;
  --shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  --font: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

body, html, #root {
  height: 100%;
  width: 100%;
}
